<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">
    <%- include('../partials/header', {pagina: 'sobre'}); %>
    <main>
        <div class="h-100 p-5 bg-light rounded-3 ">
            <h1> Sobre mim </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut nemo omnis consequuntur soluta aliquid dolores eum recusandae quaerat quos minus! Blanditiis ducimus harum minus consequatur, natus quibusdam aut atque minima.</p>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>